Schemas_XSD/file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2011 rel. 3 (http://www.altova.com) von Klaus Linhard (IABI e.V.) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="file" type="file"/>
	<xs:complexType name="file">
		<xs:sequence>
			<xs:element name="ifc_project" type="xs:string" minOccurs="0"/>
			<xs:element name="ifc_spatial_structure_element" type="xs:string" minOccurs="0"/>
			<xs:element name="file_name" type="xs:string" minOccurs="0"/>
			<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="reference" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
